
                    .icon-btn-add() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            95.05813953488372% 
                            33.71647509578544%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-btn-back() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            95.05813953488372% 
                            52.87356321839081%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-btn-delete() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            95.05813953488372% 
                            72.03065134099617%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-btn-export() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            63.372093023255815% 
                            50.191570881226056%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-btn-report() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            63.372093023255815% 
                            69.34865900383141%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-btn-upload() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 51.5px; 
                        height: 24px; 
                        background-position: 
                            0% 
                            100%; 
                        background-size: 
                            433.9805825242719% 
                            643.75%; 
                    }
                

                    .icon-chart-active-icon() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 7px; 
                        height: 7px; 
                        background-position: 
                            99.76905311778292% 
                            29.830508474576273%; 
                        background-size: 
                            3192.8571428571427% 
                            2207.1428571428573%; 
                    }
                

                    .icon-chart-icon() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 7px; 
                        height: 7px; 
                        background-position: 
                            99.76905311778292% 
                            35.25423728813559%; 
                        background-size: 
                            3192.8571428571427% 
                            2207.1428571428573%; 
                    }
                

                    .icon-excel-big() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 53.5px; 
                        height: 64px; 
                        background-position: 
                            32.05882352941177% 
                            0%; 
                        background-size: 
                            417.75700934579436% 
                            241.40625%; 
                    }
                

                    .icon-folder-icon() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 60px; 
                        height: 43px; 
                        background-position: 
                            100% 
                            0%; 
                        background-size: 
                            372.5% 
                            359.3023255813954%; 
                    }
                

                    .icon-img-bg() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 53.5px; 
                        height: 64.5px; 
                        background-position: 
                            0% 
                            0%; 
                        background-size: 
                            417.75700934579436% 
                            239.53488372093022%; 
                    }
                

                    .icon-pdf-big() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 53.5px; 
                        height: 64px; 
                        background-position: 
                            64.11764705882354% 
                            0%; 
                        background-size: 
                            417.75700934579436% 
                            241.40625%; 
                    }
                

                    .icon-ppt-big() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 53.5px; 
                        height: 64px; 
                        background-position: 
                            0% 
                            72.37569060773481%; 
                        background-size: 
                            417.75700934579436% 
                            241.40625%; 
                    }
                

                    .icon-word-big() { 
                        background-image: url(~assets/images/sprite.png); 
                        display: inline-block; 
                        width: 53.5px; 
                        height: 64px; 
                        background-position: 
                            32.05882352941177% 
                            72.37569060773481%; 
                        background-size: 
                            417.75700934579436% 
                            241.40625%; 
                    }
                