$primaryColor: #036eff; //主色调
$primaryColorLight: #217efc;
$unprimaryColor: #e64078;

$pageHeadBgColor: #0b121d;
$pageTitleColor: #fff;
$mainMenuTextColor: #cecfd1;
$menuActiveBorderColor: #036eff;
$mainContentBgColor: #f6f7f8;

$mainTitleFont: 23px;
$subTitleFont: 16px;
$contentPadding: 16px;

$cancelBtnColor: #ff3f34;
$cancelGreyBtnColor: #e3e3e3;
$resetBtnColor:#ff8734;
$resetBtnColor: #ff8734;
$yellowBtnColor: #eea619;
$blackBtnTextColor: #3b3b3b;

$formDivideBgColor: #f0f4ff;
$formDivideHeight: 40px;

$smallInputHeight: 30px;
$smallInputWidth: 158px;
$smallBtnGreyBorder: #dddddd;
$smallBtnGreyText:#6f6f6f;
$formDivideBgColor: #f0f4ff;
$formDivideBgColor: #f0f4ff;